  <mat-sidenav-container>
      <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
                [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                [mode]="(isHandset$ | async) ? 'over' : 'side'"
                [opened]="!(isHandset$ | async)"
                [fixedInViewport]="!(isHandset$ | async)"
                [fixedBottomGap]="0"
                >
    <div class="container">
      <div class="box">
        <div class="scrollbar" id="style-1">
          <div class="force-overflow">
            <div class="">
            <mat-nav-list>
            <mat-list>
              <div mat-subheader>Favorite</div>
              <mat-list-item *ngFor="let folder of folders">
                <mat-icon mat-list-icon>folder</mat-icon>
                <div mat-line>{{folder.name}}</div>
              </mat-list-item>
            </mat-list>
            </mat-nav-list>
            </div>

          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          mat-icon-button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          class="example-icon"
          aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Seun's Profile</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>

    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile
          *ngFor="let tile of tiles"
          [colspan]="tile.cols"
          [rowspan]="tile.rows"
          [style.background]="tile.color">
        {{tile.text}}
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Second Line</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon></mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span></span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon></mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon></mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
<router-outlet></router-outlet>
