.example-spacer {
  flex: 1 1 auto;
}

.main-mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.example-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.long-content {
  border: 1px solid green ;
  height: 1000px;
  background-color: lightblue;
}

.sidenav {
  width: 200px;
  height: fit-content;
}

.container {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ddd0d0;

}

.scrollbar {
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .26);
}

#style-1::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #F5F5F5;
}
